* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

/* -------------------------Poster---------------------------- */

section.slider {
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}


.slider-content {
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile {
    display: none;
}

.slide-box {
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img {
    width: 100%;
}

.nav-manual, .nav-auto {
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}




.nav-manual .manual-btn, .nav-auto div {
    border: 1px solid #EEF4FB;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child) {
    margin-right: 10px;

}




.nav-manual .manual-btn:hover {

    background-color: #415078;

}




#radio1:checked~.nav-auto .auto-btn1 {
    background-color: #415078;
}

#radio2:checked~.nav-auto .auto-btn2 {
    background-color: #415078;
}

#radio3:checked~.nav-auto .auto-btn3 {
    background-color: #415078;
}

#radio1:checked~.primeiro {
    margin-left: 0%;
}

#radio2:checked~.primeiro {
    margin-left: -25%;
}

#radio3:checked~.primeiro {
    margin-left: -50%;
}

@media screen and (max-width:900px) {
    .img-desktop {
        display: none;
    }

    .img-mobile {
        display: none;
    }

    .nav-auto, .nav-manual {
        margin-top: 60%;
    }
}

/* --------------------------------Segunda seção------------------------------------------- */

.secao-2 {
    display: flex;
    flex-direction: column;
    background-color: #92A1C8 !important;
    padding: 50px 90px;
    color: #2A344D;
}

.secao-2 h1 {
    font: 40px "PT-3";
    margin: 0px 10px 0px !important;
}

.secao-2 p {
    font: 90px "PT-3";
    margin: -10px 10px;
    width: 1200px;
}

.secao-3 {
    display: flex;
    flex-direction: row;
    padding: 40px 157px;
}

.secao-3 h1 {
    flex-direction: column;
    display: flex;
    font: 50px "PT-7";
    width: 450px;
    color: #EEF4FB;
}

.secao-3 p {
    font: 22px 'PT-7';
    flex-direction: column;
    display: flex;
    color: #EEF4FB;
    width: 400px;
    margin: 20px 0px;
}

.btn-1 {
    background-color: #292F36;
    padding: 16px;
    width: 215px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

.btn-1 a {
    font: 20px 'PT-14';
    color: #EEF4FB;
}


.btn-1:hover {
    cursor: pointer;
    background-color: #92A1C8;
    color: #292F36;
}

.espaco {
    margin: 130px;
}

.secao-3 img {
    flex-direction: row;
    display: flex;
    width: 478px;
    border-radius: 20px;
}

.secao-4 {
    display: flex;
    flex-direction: column;
    background-color: #92A1C8 !important;
    padding: 50px 90px;
    color: #2A344D;
}

.secao-4 h1 {
    font: 40px "PT-3";
    margin: 30px 20px 60px !important;
    color: #2A344D;
}

.camisas {
    flex-direction: row;
    display: flex;
    margin: 0px,100px;
    padding-left: 60px;
}

.camisas_home {
    padding-left: 100px;
}

.camisas_img {
    flex-direction: row;
    display: flex;
    max-width: 300px;
    height: 400px;
    border-radius: 20px;
}

.descricao_camisa {
    font: 19px "PT-10";
    color: aliceblue;
    margin: 10px,10px,10px;
    width: 350px;
}

.frete {
    font: 19px "PT-12";
    color: #116939;
    margin: 10px, 10px, 10px;
}

.valor {
    font: 19px "PT-12";
    color: #000206;
    margin: 10px, 10px, 10px;
}

.btn-2 {
    background-color: #292F36;
    padding: 16px;
    margin: 50px;
    margin-left: 1130px;
    width: 245px;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    transition: 0.5s;
}

.btn-2 a {
    font: 18px 'PT-14';
    color: #EEF4FB;
}

.btn-2:hover {
    cursor: pointer;
    background-color: #2A344D;
    color: #EEF4FB;
}

.secao-5 {
    display: flex;
    flex-direction: column;
    padding: 50px 90px;
    color: #2A344D;
}