* {
 margin: 0px;
 background-color: #92A1C8;
 font-family: sans-serif;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #415078;
    padding: 20px;

 }
.top a{
    text-decoration: none;
    border: none;
    background-color: #415078;
    color: #ffffff;
    cursor: pointer;
}

.top img{
    height: 25px;
    background-color:#415078;
    margin-right: 20px;
    margin-top: 15px;
}

.menu{
    background-color: #415078;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin: 2px;
}

.menu a{
    background-color: #415078;
    margin: 5px 20px;
}


.principal {
    background-color: #92A1C8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.principal input{
    cursor: pointer;
}


.principal h1 {
    text-align: center;
    font-family: sans-serif;
    color: #2A344D;
    margin-top: 5px;

}

.cadastro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background-color: #92A1C8;
    border: solid black 1px ;
    
}

.principal input {
    display: block;
    background-color: #D9D9D9;
    border-radius: 20px;
    height: 37px;
    width: 300px;
    border: 0px;
}

.cadastro>label {
    font-family: sans-serif;
    font-size: 10px;
}

.cadastro> p {
    size: 18px;
    font-family: sans-serif;
    align-items: center;
}

p{
    margin: 7px;
}

.botao-cadastro {
    height: 37px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 60px;
    background-color: #D9D9D9;
    border: none;
    color: #2A344D;;
    text-decoration: none;
    cursor: pointer;
}

.botao-cadastro:hover{
    box-shadow: 0px 8px 15px rgb(0 0 0 /20%);
}

.botao-login{
    display: block;
    border-radius: 20px;
    height: 37px;
    width: 200px;
    border-radius: 20px;
    font-size: 20px;
    background-color: #D9D9D9;
    border: none;
    color: #2A344D;
    margin-bottom: 200px;
    cursor: pointer;
}

.botao-login:hover{
    box-shadow: 0px 8px 15px rgb(0 0 0 /20%);
}



label{
    color: #ffffff;
    font-size: 10px;
}

.principal-button:hover{
    box-shadow: 0px 8px 15px rgb(0 0 0 /20%);
    color: #415078;

}

.footer{
    height: 100px;
    background-color: #415078;
}