*{
    margin: 0px;
    box-sizing: border-box;
}

    .nav-principal{
        background-color: #92A1C8;
    }

    #team-area{
        padding-top: 70px;
    }

    .col-12{
        padding-bottom: 50px;
    }

      .footer{
          padding: 70px;
          background-color: #415078;
      }
